<%- include('partials/header') -%>
<%- include('partials/logged-in-navbar') -%>
<div class="hero min-h-screen concerns-header">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Current Concerns</h1>
      <a class="btn btn-primary concern-scroll-btn" href="#concerns-section">Go to Concerns</a>
    </div>
  </div>
</div>
<div id="concerns-section" class="concerns-section">
        <ul class="card-body">
        <% for(var i=0; i<notes.length; i++) {%>
          <li class="card-body note-card concern-note-card">
                    <span>Date: <%= notes[i].dateAdded%></span>  
                    <span>Location #: <%= notes[i].location%></span>
                    <span>Current Plant: <%= notes[i].plantName%></span>
                    <span>Note: <%= notes[i].noteText%></span>
                    <span>Source: <%= notes[i].source%></span>
                    <span>Source Type: <%= notes[i].sourceType%></span>
                    <span>Concern? <%= notes[i].concern%></span>
                    <span>Concern Type: <%= notes[i].concernType%></span>
                    <span>Concern Level: <%= notes[i].concernLevel%></span>
                    <span>Immediacy Level: <%= notes[i].immediacyLevel%></span>
                     <a class="btn btn-primary" href="/note/<%= notes[i]._id%>">More Info</a>          
          </li>
        <% } %>
        </ul> 
         <div class="row justify-content-center mt-5" id="concerns-bottom-btn-section">
          <a class="btn btn-primary concerns-bottom-btn " href="/profile">Return to Profile</a>
          <a class="btn btn-primary concerns-bottom-btn " href="/accounts/<%= user.userCompany%>">Go to Accounts</a>
        </div> 
      </div> 


<%- include('partials/footer') -%>
