<%- include('partials/header') -%>
<%- include('partials/logged-in-navbar') -%>
  <div>
    <div>
      <ul>
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="">
            <div class="card lg:card-side bg-base-100 shadow-xl">
              <figure><img class="plant-image" src="<%= posts[i].plantImage%>"></figure>
              <div class="card-body">
                <h2 class="card-title">Last Serviced: <%= posts[i].lastServicedDate%></h2>
              
          
                <span>Plant: <%= posts[i].currentPlant%></span>
                <span>Size: <%= posts[i].plantSize%></span>
                <span>Location #: <%= posts[i].locationNumber%></span>
                <span>Building: <%= posts[i].building%></span>
                <span>Floor: <%= posts[i].floor%></span>

                <div class="card-actions justify-end">
                  <a class="btn btn-primary" href="/post/<%= posts[i]._id%>">More Info</a>
                </div>
                <form
                  action="/post/updateAllPostServiceDates/<%= account_id %>?_method=PUT"
                  method="POST">
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary mark-serviced-btn mark-all-serviced-btn" type="submit">Mark All Serviced</button>
                  </div>
                </form>
              </div>
            </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>
  <div class="form-control add-location-section">
            <h2>Add a plant location</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <input type="hidden" class="form-control" id="account" name="account"  value="<%= account_id %>" > 
              </div>
              <div class="mb-3">
                  <input type="hidden" class="form-control" id="accountCompany" name="company"  value="<%= account.userCompany %>" > 
              </div>
              <div class="mb-3">
                  <label for="building" class="label-text above-label">Building</label>
                  <label class="input-group">
                    <span>Building #</span>
                    <input type="text" class="form-control" id="building" name="building" > 
                </label>
              </div>
              <div class="mb-3">
                  <label for="floor" class="label-text above-label">Floor</label>
                  <label class="input-group">
                    <span>Floor #</span>
                    <input type="text" class="form-control" id="floor" name="floor">
                  </label>
              </div>
              <div class="mb-3">
                  <label for="locationNumber" class="label-text above-label">Location</label>
                  <label class="input-group">
                    <span>Location #</span>
                    <input type="text" class="form-control" id="locationNumber" name="locationNumber">
                  </label>
              </div>
              <div class="mb-3">
                  <label for="lightLevel" class="label-text above-label">Light Level</label>
                  <label class="input-group">
                    <span>Light Level</span>
                    <input type="text" class="form-control" id="lightLevel" name="lightLevel">
                  </label>
              </div>
              <div class="mb-3">
                  <label for="currentPlant" class="label-text above-label">Current Plant</label>
                  <label class="input-group">
                    <span>Current Plant</span>  
                    <input type="text" class="form-control" id="currentPlant" name="currentPlant">
                  </label>
              </div>
              <div class="mb-3">
                  <label for="plantSize" class="label-text above-label">Plant Size</label>
                  <label class="input-group">
                    <span>Plant Size</span>
                    <input type="text" class="form-control" id="plantSize" name="plantSize">
                  </label>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="label-text above-label">Plant Image</label>
                <label class="input-group">
                  <input type="file" class="form-control" id="imageUpload" name="file">
                </label>
              </div>
              <button type="submit" class="btn btn-primary add-location-btn" value="Upload">Submit</button>
            </form>
          </div>
      </div>  
<%- include('partials/footer') -%>