<%- include('partials/header') -%>
<%- include('partials/logged-in-navbar') -%>

<div>
        <div>
                <div class="card note lg:card-side bg-base-100 shadow-xl">
              
                  <div class="card-body individual-note-card">
                    <h2 class="card-title"> Note by <%= note.addedBy[0]%></h2>
                  
                    <span>Date: <%= note.dateAdded%></span>  
                    <span>Location #: <%= note.location%></span>
                    <span>Current Plant: <%= note.plantName%></span>
                    <span>Note: <%= note.noteText%></span>
                    <span>Source: <%= note.source%></span>
                    <span>Source Type: <%= note.sourceType%></span>
                    <span>Concern? <%= note.concern%></span>
                    <span>Concern Type: <%= note.concernType%></span>
                    <span>Concern Level: <%= note.concernLevel%></span>
                    <span>Immediacy Level: <%= note.immediacyLevel%></span>

                    <div class="card-actions justify-end">
                      
                    </div>
                    <form
                        action="/note/deleteNote/<%= note.id %>?_method=DELETE"
                        method="POST"
                        class="">
                        <button class="btn btn-primary fa fa-trash" type="submit"></button>
                    </form>
                    <%if(note.concern){ %>
                    <form
                      action="/note/removeconcern/<%= note.id %>?_method=PUT"
                      method="POST">
                        <button class="btn btn-primary mark-serviced-btn" id="remove-concern-btn" type="submit">Remove Concern</button>
                      </div>
                    </form>
                     <%}%>
                     <div class="card-actions justify-end">
                        <a class="btn btn-primary individual-note-link-btn1" href="/post/<%= note.post%>">Go to location</a>
                        <a class="btn btn-primary individual-note-link-btn2" href="/note/concerns/<%= note.company%>">Go to Concerns</a>
                    </div> 

                  </div>
                </div>
              
        </div>
    </div>
        
        
          
     
<%- include('partials/footer') -%>
