<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.plantImage%>" />
      <div class="row justify-content-between">
          
            <span><%= post.plantSize%></span>
            <span><%= post.currentPlant%></span>
            <span>Location #: <%= post.locationNumber%></span>
            <span>Building: <%= post.building%></span>
            <span>Floor: <%= post.floor%></span>
            <span>lightLevel: <%= post.lightLevel%></span>
            <span>Last Serviced: <%= post.lastServicedDate%></span>
        
      </div>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/accounts">Return to Accounts</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
