<%- include('partials/header') -%>


<div class="container">
  <div>
    <div>
      <div class="card lg:card-side bg-base-100 shadow-xl">
        <figure><img src="<%= post.plantImage%>" alt="Plant"/></figure>
        <div class="card-body">
          <h2 class="card-title"><%= post.currentPlant%></h2>
          
            <span><%= post.plantSize%></span>
            <span>Location #: <%= post.locationNumber%></span>
            <span>Building: <%= post.building%></span>
            <span>Floor: <%= post.floor%></span>
            <span>lightLevel: <%= post.lightLevel%></span>
            <span>Last Serviced: <%= post.lastServicedDate%></span>
            <form
              action="/post/updatePostServiceDate/<%= post.id %>?_method=PUT"
              method="POST">
              <div class="card-actions justify-end">
                <button class="btn btn-primary" type="submit">Mark Serviced</button>
              </div>
            </form>
        
      </div>
    </div>
    <div class="bottom-btn-section">
      <a class="btn btn-primary bottom-btn" href="/profile">Return to Profile</a>
      <a class="btn btn-primary bottom-btn" href="/accounts">Return to Accounts</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
