<%- include('partials/header') -%>
<%- include('partials/logged-in-navbar') -%>

<div class="hero min-h-screen profile-div">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="<%= user.profileImage%>" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold"><%= user.userName %></h1>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        <a class="btn btn-primary" href="/accounts/<%= user.userCompany%>">Go to Accounts</a>
        <% let newArr = [];%>
          <% for(i = 0; i < notes.length; i++){ %>
          <% if(notes[i].concern == true){ %>
           <% newArr.push(notes[i]); %>
          <%}%>
        <%}%>
        <% if(user.userType == "manager" && newArr.length > 0){ %>
        <a class="btn btn-primary profile-concern-btn" href="/note/concerns/<%= user.userCompany%>">Go to Concerns</a>
         <%}%>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>



